<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code.ebarrios.kakchilingo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AprenderActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LessonOneActivity" />
        <activity android:name=".LessonTwoActivity" />
        <activity android:name=".LessonThreeActivity" />
        <activity android:name=".LessonFourActivity" />
        <activity android:name=".LessonFiveActivity" />
        <activity android:name=".LessonSixActivity" />
        <activity android:name=".LessonSevenActivity" />
        <activity android:name=".LessonHeigthActivity" />
        <activity android:name=".LessonNineActivity" />
        <activity android:name=".LessonTenActivity" />
        <activity android:name=".FinalLevelOneActivity" />
        <activity android:name=".LevelTwo.MainLevelTwoActivity" />
        <activity android:name=".LevelTwo.LessonOneLevelTwoActivity" />
        <activity android:name=".LevelTwo.LessonTwoLevelTwoActivity" />
        <activity android:name=".LevelTwo.LessonThreeLevelTwoActivity" />
        <activity android:name=".LevelTwo.LessonFourLevelTwoActivity" />
        <activity android:name=".LevelTwo.LessonFiveLevelTwoActivity" />
        <activity android:name=".LevelTwo.LessonSixLevelTwoActivity" />
        <activity android:name=".LevelTwo.LessonSevenLevelTwoActivity" />
        <activity android:name=".LevelTwo.LessonHeightLevelTwoActivity" />
        <activity android:name=".LevelTwo.LessonNineLevelTwoActivity" />
        <activity android:name=".LevelTwo.LessonTenLevelTwoActivity" />
        <activity android:name=".LevelTwo.FinalLevelTwoActivity" />
        <activity
            android:name=".AntesDeEmpezarActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AcercaDeActivity"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>